@import "../../scss/vars.scss";

.dropdown-container {
    display: flex;
    flex-direction: column;
    margin-bottom: $spacing-lg;

    &__select {
        width: 100%;
        border-radius: 4px;
        background-color: $white;
        background-repeat: no-repeat;
        padding: $spacing-sm $spacing-md;

        img {
            z-index: 99;
        }
    }

    &__error {
        border-color: $red;
    }
}
