$spacing-sm: 6px;
$spacing-md: 8px;
$spacing-lg: 10px;
$spacing-xl: 15px;

$color-primary: #008cba;
$white: #ffffff;
$black: #000000;
$grey: #aaaaaa;
$red: #ff0000;

$font-size-sm: 12px;
$font-size-md: 16px;
$font-size-lg: 20px;


